@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Oleo+Script+Swash+Caps:wght@700&family=Open+Sans:ital,wght@1,600&family=Rouge+Script&family=Smooch&family=Source+Sans+Pro:wght@600&display=swap');

.homePage1 {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5d8d3c83aeae29332934b4e6/1584574348656-JK27L58E33B3C9FZO90K/aAje01ws.jpeg?format=1500w');
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

/* .insideHomepage1{

    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family:'Koulen', cursive ;
    font-weight: 500;   
}

.insideHomepage1 div{
    width: 60%;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    
} */



.homePage2 {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5d8d3c83aeae29332934b4e6/1569540350302-MZ8QSC0FR9LKCN82W2S0/food2.jpeg?format=1500w');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
   
   
    
    
}
.insideHomepage2{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.insideHomepage2 div{
   

    font-size: 3.5rem;
    width: 70%;
    
    font-weight: 500;
    color: white;
    /* background-color: aquamarine; */
   
    
} 

.insideHomepage2 div p{

    border-bottom: 2px solid white;
    
    margin-bottom: 2rem;
}

.menuPara{
    width: 20%;
}
.eventsPara{
    width: 22%;
}

.reservationPara{
    width: 35%;
}

.homePage3{
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 2rem;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePage3Para{

    width: 60%;
    
}


@media (max-width:1000px){

  


    .menuPara{
        width: 10rem;
    }
    .eventsPara{
        width: 12rem;
    }
    
    .reservationPara{
        width: 18rem;
       
    } 

}

