#main-nav{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem;
}

.site-title{
    font-weight: 100;
    font-size: 1.2rem;
}

.nav-items-hidden{
    display: none;
}

.nav-items{
    position: fixed;
    background-color: white;
    width: 80%;
    margin: 4rem 10% 0px 5%;
}


.nav-item{
    list-style: none;
    text-align: center;
    padding: 1rem 0.5rem 1rem 0.5rem;
}

.route-links{
    text-decoration: none;
    color: black;
}

#menu-icon{
    height: 1.5rem;
    width: 1.5rem;
    background-image: url('./menu.png');
    background-size: contain;
    border-width: 0px;
    background-color: unset;
}

@media only screen and (min-width: 525px) {
    #main-nav{
        justify-content: space-between;
    }

    .nav-items{
        display: flex;
        position: unset;
        margin: 0px;
        width: unset;
    }

    #menu-icon{
        display: none;
    }
}